{% extends "blogengine/includes/base.html" %}

    {% load custom_markdown %}
    {% block content %}
        {% for post in object_list %}
            <div class="post">
                <h1>{{ post.title }}</h1>
                <h3>{{ post.pub_date }}</h3>
                <p>{{ post.text|custom_markdown }}</p>
            </div>
        {% endfor %}
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous Page</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next page</a>
        {% endif %}
    {% endblock content %}
